.profile_page .profil_row {
  justify-content: center;
}

.profile_page .for-password-modal-button {
  position: absolute;
  top: 10px;
  z-index: 99;
  right: 25px;
  background: #5767f6;
  border-radius: 6px;
  width: 177px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  border: none;
}
@media screen and (max-width: 620px) {
  .profile_page .for-password-modal-button {
    position: relative;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.profile_page .for-password-modal-button:hover,
.profile_page .for-password-modal-button:focus {
  background: #5767f6;
  border: none;
}
.profile_page .profil_row .forAvatars {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_page .profil_row .forAvatars > span {
  position: relative;
}
.profile_page .profil_row .forAvatars > span .for-avatar-icon {
  background: #5767f6;
  width: 32px;
  height: 32px;
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -12px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  border-radius: 50%;
}
.profile_page
  .profil_row
  .forAvatars
  .img-avatars.ant-avatar-circle.ant-avatar-image {
  position: relative;
  overflow: initial;
}
.profile_page
  .profil_row
  .forAvatars
  .img-avatars.ant-avatar-circle.ant-avatar-image
  img {
  position: relative;
  border-radius: 100%;
  z-index: 5;
}
.profile_page
  .profil_row
  .forAvatars
  .img-avatars.ant-avatar-circle.ant-avatar-image::after {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  right: -8px;
  left: -8px;
  background-image: linear-gradient(
    to bottom left,
    #d53a9d 0%,
    #743ad5 100%
  ) !important;
  display: block !important;
  border-radius: inherit;
  z-index: 1;
}
.profile_page
  .profil_row
  .forAvatars
  .img-avatars.ant-avatar-circle.ant-avatar-image::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  background-color: #fff;
  z-index: 2;
  border-radius: 50%;
}
.profile_page .profil_row .lists {
  background: #f3f4ff;
  border-radius: 12px;
  padding: 12px 16px;
}
.profile_page .profil_row .lists .ant-list-item {
  padding: 0;
}
.profile_page .profil_row .lists .ant-list-item .ant-list-item-meta-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #5767f6;
  margin-bottom: 4px;
}
.profile_page
  .profil_row
  .lists
  .ant-list-item
  .ant-list-item-meta-description
  p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  color: #17152e;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.profile_page
  .profil_row
  .lists
  .ant-list-item
  .ant-list-item-meta-description
  p
  span {
  overflow: hidden;
  display: flex;
}
.profile_page
  .profil_row
  .lists
  .ant-list-item
  .ant-list-item-meta-description
  p
  span.for-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #5767f6;
}
.modal-for-edit {
  width: 480px !important;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 0 !important;
}
.modal-for-edit .ant-modal-footer {
  display: none;
}
.modal-for-edit .ant-modal-header {
  border: none;
}
.modal-for-edit .ant-modal-body {
  padding: 10px 30px 1px;
  margin-top: 0px;
}
.modal-for-edit .ant-modal-header .ant-modal-title p {
  text-align: center;
  color: #17152e;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}
.modal-for-edit .ant-modal-body .ant-form-item-control-input-content {
  text-align: center;
}

.modal-for-edit .ant-modal-body .ant-form .ant-form-item {
  margin: 0;
  margin-bottom: 20px;
}
.modal-for-edit
  .ant-modal-body
  .ant-form
  .ant-form-item
  .ant-form-item-control-input
  .button-submit {
  background: #22c864 !important;
  border-radius: 6px;
  width: 283px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0px;
}
.modal-for-edit
  .ant-modal-body
  .ant-form
  .ant-form-item
  .ant-form-item-control-input
  .ant-input-affix-wrapper {
  background: #f3f4ff;
  border-radius: 12px;
  border: none;
}
.modal-for-edit
  .ant-modal-body
  .ant-form
  .ant-form-item
  .ant-form-item-control-input
  .ant-input-affix-wrapper
  input {
  background-color: transparent;
}
.modal-for-edit
  .ant-modal-body
  .ant-form
  .ant-form-item
  .ant-form-item-control-input
  .ant-input-affix-wrapper
  input::placeholder {
  color: #aab1f1;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.modal-for-edit
  .ant-modal-body
  .ant-form
  .ant-form-item
  .ant-form-item-control-input
  .ant-input-affix-wrapper
  input {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #17152e;
}
.modal-for-edit
  .ant-modal-body
  .ant-form
  .ant-form-item
  .ant-form-item-control-input
  .ant-input-affix-wrapper
  .ant-input-prefix {
  margin-right: 10px;
  font-size: 18px;
  color: #5767f6;
}
.modal-for-edit .ant-modal-content .ant-modal-close {
  position: absolute;
  right: 20px !important;
  top: 20px !important;
}
.modal-for-edit .ant-modal-content .ant-modal-close .ant-modal-close-x {
  background: #17152e;
  position: relative;
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 50%;
}
.modal-for-edit .ant-modal-content .ant-modal-close .ant-modal-close-x > span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 900;
}
.content.profile_page
  .forAvatars
  .avatar-uploader.ant-upload-picture-card-wrapper
  div.ant-upload {
  margin: 0;
  position: relative;
  border-radius: 50%;
}
.content.profile_page
  .forAvatars
  .avatar-uploader.ant-upload-picture-card-wrapper
  div.ant-upload::after {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  right: -8px;
  left: -8px;
  background-image: linear-gradient(
    to bottom left,
    #d53a9d 0%,
    #743ad5 100%
  ) !important;
  display: block !important;
  border-radius: 50%;
  z-index: 1;
}
.content.profile_page
  .forAvatars
  .avatar-uploader.ant-upload-picture-card-wrapper
  div.ant-upload::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  background-color: #fff;
  z-index: 2;
  border-radius: 50%;
}
.content.profile_page
  .forAvatars
  .avatar-uploader.ant-upload-picture-card-wrapper
  div.ant-upload
  .ant-upload {
  position: relative;
  z-index: 99;
  display: flex;
  padding: 0px;
  background-color: #edf;
  border-radius: 50%;
  border: none;
}
.content.profile_page
  .forAvatars
  .avatar-uploader.ant-upload-picture-card-wrapper
  div.ant-upload
  .ant-upload
  img {
  border-radius: 50%;
}
.content.profile_page
  .forAvatars
  .avatar-uploader.ant-upload-picture-card-wrapper
  div.ant-upload
  .ant-upload
  div {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: #5767f6;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
}

.all-list {
  column-fill: auto;
  column-width: 300px;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  grid-template-rows: auto;
  column-count: 2;
  -moz-column-gap: 32px;
  -webkit-column-gap: 32px;
  column-gap: 32px;
}
.all-list > div {
  overflow-x: hidden;
  width: 100%;
  padding: 10px;
  display: inline-table;
}
