.home-page .for-subjects-block {
  margin-top: 40px;
}

.home-page .for-calendar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.home-page .for-calendar::-webkit-scrollbar {
  display: none;
}
.home-page .for-calendar .site-calendar-card {
  margin-right: 24px;
  width: 300px;
}
.home-page
  .for-calendar
  .site-calendar-card
  .ant-picker-calendar-header
  .ant-picker-calendar-year-select,
.home-page
  .for-calendar
  .site-calendar-card
  .ant-picker-calendar-header
  .ant-radio-group.ant-radio-group-outline.ant-picker-calendar-mode-switch {
  display: none;
}
.home-page .for-calendar .site-calendar-card .ant-picker-content thead tr th {
  color: #aab1f1;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}
.home-page
  .for-calendar
  .site-calendar-card
  .ant-picker-cell.ant-picker-cell-in-view {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #17152e;
}
.home-page .for-calendar .site-calendar-card .ant-picker-panel {
  border: none;
}
.home-page
  .for-calendar
  .site-calendar-card
  .ant-picker-cell-selected
  > .ant-picker-cell-inner.ant-picker-calendar-date {
  background-color: transparent !important;
  border: 1px solid #5767f6;
  color: #5767f6;
  border-radius: 50%;
  box-sizing: border-box;
  font-weight: 600;
}
.home-page
  .for-calendar
  .site-calendar-card
  .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-today
  > .ant-picker-cell-inner.ant-picker-calendar-date.ant-picker-calendar-date-today::before {
  border: none;
}
.home-page .for-subjects-block > h2 {
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  color: #17152e;
  margin-bottom: 24px;
}
.home-page .for-subjects-block .for-card-subjects {
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(13, 34, 86, 0.08);
  border-radius: 12px;
}

.home-page .for-subjects-block .for-card-subjects .ant-card-body {
  padding: 20px;
}
.home-page
  .for-subjects-block
  .for-card-subjects
  .ant-card-body
  .ant-card-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-page
  .for-subjects-block
  .for-card-subjects
  .ant-card-body
  .ant-card-meta::after,
.home-page
  .for-subjects-block
  .for-card-subjects
  .ant-card-body
  .ant-card-meta::before {
  display: none;
}
.home-page
  .for-subjects-block
  .for-card-subjects
  .ant-card-body
  .ant-card-meta
  .ant-card-meta-avatar {
  order: 2;
  padding: 0;
}
.home-page
  .for-subjects-block
  .for-card-subjects
  .ant-card-body
  .ant-card-meta
  .ant-card-meta-detail
  .ant-card-meta-title
  a {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #17152e;
  margin-bottom: 9px;
}
.home-page
  .for-subjects-block
  .for-card-subjects
  .ant-card-body
  .ant-card-meta
  .ant-card-meta-detail
  .ant-card-meta-description
  p {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #5767f6;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.home-page
  .for-subjects-block
  .for-card-subjects
  .ant-card-body
  .ant-card-meta
  .ant-card-meta-detail
  .ant-card-meta-description
  p
  span {
  display: flex;
  align-items: center;
}
.home-page
  .for-subjects-block
  .for-card-subjects
  .ant-card-body
  .ant-card-meta
  .ant-card-meta-detail
  .ant-card-meta-description
  p
  span
  svg {
  margin-right: 6px;
  margin-left: 16px;
}
@media screen and (max-width: 1367px) {
  .home-page .for-subjects-block > h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .home-page .for-subjects-block {
    margin-top: 20px;
  }
  .home-page .for-subjects-block .for-card-subjects .ant-card-body {
    padding: 14px;
  }
  .home-page
    .for-subjects-block
    .for-card-subjects
    .ant-card-body
    .ant-card-meta-avatar
    .ant-avatar.ant-avatar-circle {
    width: 50px !important;
    height: 50px !important;
  }
}
