.news-page-container .news-card {
  background: #ffffff;

  box-shadow: 0px 2px 15px rgba(13, 34, 86, 0.08);
  border-radius: 12px;
}

.news-page-container .news-card .ant-card-body {
  padding: 24px 16px;
}
.news-page-container .news-card .ant-card-cover img {
  border-radius: 12px 12px 0 0;
  height: 250px;
  object-fit: cover;
}

.news-page-container .news-card .ant-card-meta-detail .ant-card-meta-title {
  height: 52px;
  white-space: initial;
}
.news-page-container .news-card .ant-card-meta-detail .ant-card-meta-title a {
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
  color: #17152e;
}
.news-page-container
  .news-card
  .ant-card-meta-detail
  .ant-card-meta-description {
  margin-top: 12px;
}
.news-page-container
  .news-card
  .ant-card-meta-detail
  .ant-card-meta-description
  p {
  margin-bottom: 2px;
  margin-top: 5px;
}
.news-page-container
  .news-card
  .ant-card-meta-detail
  .ant-card-meta-description
  p
  .time {
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  color: #5b638b;
}
.news-page-container
  .news-card
  .ant-card-meta-detail
  .ant-card-meta-description
  p
  .ant-tag {
  background: #f3f4ff;
  border-radius: 4px;
  border: none;
  margin-left: 16px;
}
.news-page-container .news-card .ant-card-meta-description p .ant-tag span {
  color: #5767f6 !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 160%;
}
.news-page-container .news-card {
  width: 100% !important;
}
.news-page-container .pagination {
  text-align: center;
}
.news-page-container .pagination .ant-pagination-item {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-page-container
  .pagination
  .ant-pagination-item.ant-pagination-item-active {
  background-color: #5767f6;
}
.news-page-container
  .pagination
  .ant-pagination-item.ant-pagination-item-active
  a {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
.news-page-container .pagination .ant-pagination-item a {
  color: #222b35;
  font-weight: 600;
  font-size: 16px;
}
.news-page-container .pagination .ant-pagination-item-link {
  border: none;
}
.news-page-container .pagination .ant-pagination-item-link span {
  color: #222b35;
  font-weight: 600;
  font-size: 16px;
}
.news-page-container .pagination .ant-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.news-container .for-img {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 24px;
  max-height: 350px;
}
.news-container .for-img img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  max-height: 350px;
}
.news-container h1 {
  color: #17152e;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}
.news-container .for-data-tag {
  margin-bottom: 28px;
}
.news-container .for-data-tag .time {
  color: #5b638b;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
}

.news-container .for-data-tag .ant-tag {
  background: #f3f4ff;
  border-radius: 4px;
  border: none;
  margin-left: 16px;
}
.news-container .for-data-tag .ant-tag span {
  color: #5767f6 !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 160%;
}
.news-container .description {
  font-size: 18px;
  line-height: 200%;
  color: #17152e;
}
@media screen and (max-width: 1367px) {
  .news-page-container .news-card .ant-card-cover img {
    border-radius: 12px 12px 0 0;
    height: 150px !important;
    object-fit: cover;
  }
  .news-page-container .news-card .ant-card-meta-detail .ant-card-meta-title {
    height: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .news-page-container .news-card .ant-card-meta-detail .ant-card-meta-title a {
    font-size: 14px;
  }
  .news-page-container .news-card .ant-card-body {
    padding: 10px 16px;
  }
  .news-page-container .news-card .ant-card-body .ant-card-meta-description {
    margin-top: 0;
  }
}
