.menu-container {
  position: fixed;
  display: inline;
  top: 0;
  left: 0;
  height: 100vh;
  width: 110px;
  text-align: center;
  box-shadow: 5px 0px 6px -7px rgba(0, 0, 0, 0.5) !important;
}

.menu-container > .avatars {
  margin: 10px;
}
.menu-container .ant-menu-inline {
  height: 100%;
  border: none;
  text-align: center;
}
.menu-container .ant-menu-inline > li {
  padding-left: 0 !important;
  padding: 16px 0px 16px 0;
  height: auto;
  margin: 0 !important;
  text-align: center;
}

.menu-container .ant-menu-inline li > a {
  max-width: 100%;
  display: inline-block;
  padding: 0 10px;
  line-height: 18px;
  font-weight: 700;
  color: #222;
  white-space: normal !important;
}
.menu-container .ant-menu-inline li > a span {
  font-size: 12px;
  display: inline-block;
}
.menu-container .ant-menu-inline li > a .anticon {
  display: block;
  width: 100%;
  position: relative;
  line-height: 18px;
  font-size: 18px;
  color: #5767f6;
}
.menu-container .ant-menu-item:hover {
  color: white;
  background-color: #5767f6;
}

.menu-container .ant-menu-item-selected {
  color: white !important;
  background-color: #5767f6 !important;
}
.menu-container .ant-menu-item-selected::after {
  border-color: transparent !important;
}
.menu-container .ant-menu-item-selected a,
.menu-container .ant-menu-item:hover a,
.menu-container .ant-menu-item:hover > a .anticon,
.menu-container .ant-menu-item-selected a .anticon {
  color: white !important;
}
.menu-container .ant-menu-item {
  color: #5767f6;
}
.page-header {
  margin-left: 110px;
  background-color: #fff;
  z-index: 99;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-page-header {
  padding: 0 !important;
}

.site-page-header .ant-page-header-heading-title {
  font-size: 28px;
  font-weight: 700;
}
.page-header
  .ant-select.ant-select-single.ant-select-show-arrow
  .ant-select-selector {
  border-radius: 8px;
}
.site-page-header .ant-page-header-content {
  padding-top: 5px;
}
.site-page-header .ant-page-header-content .ant-breadcrumb {
  font-size: 12px;
  font-weight: 700;
}
.site-page-header
  .ant-page-header-content
  .ant-breadcrumb
  .ant-breadcrumb-link {
  color: #5767f6;
}
.site-page-header
  .ant-page-header-content
  .ant-breadcrumb
  span:last-child
  .ant-breadcrumb-link {
  color: #5b638b !important;
}
.site-page-header
  .ant-page-header-content
  .ant-breadcrumb
  .ant-breadcrumb-separator {
  color: #5767f6;
}
.page-header .header-right {
  display: flex;
  align-items: center;
}
.page-header .header-right a {
  color: #17152e;
}
.page-header .header-right > span {
  margin-left: 30px;
  font-size: 20px;
}
.page-header .header-right .img-avatars {
  background-color: #fff;
  position: relative;
  overflow: inherit;
}
.page-header .header-right .img-avatars img {
  border-radius: 50%;
}
.page-header .header-right .user-icon.ant-avatar-circle.ant-avatar-image {
  overflow: inherit !important;
  position: relative;
  background-color: #fff;
  position: relative;
  overflow: inherit;
}
.page-header .header-right img {
  z-index: 3;
  position: relative;
}
.page-header .header-right .ant-avatar-circle.ant-avatar-image::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  right: -2px;
  left: -2px;
  background-color: #fff;
  z-index: 2;
  border-radius: 50%;
}
.page-header .header-right .ant-avatar-circle.ant-avatar-image::after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  background-image: linear-gradient(
    to bottom left,
    #d53a9d 0%,
    #743ad5 100%
  ) !important;
  display: block !important;
  border-radius: inherit;
  z-index: 1;
}

.content {
  margin-left: 110px;
  padding: 15px 30px;
  position: relative;
}
.page-header .select-for-news .ant-radio-group.ant-radio-group-solid {
  background: #f3f4ff;
  border-radius: 10px;
  height: 43px;
  display: flex;
  align-items: center;
  padding: 3px;
}
.page-header
  .select-for-news
  .ant-radio-group.ant-radio-group-solid
  .ant-radio-button-wrapper {
  background-color: transparent;
  color: #17152e;
  border-radius: 8px;
  border-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
.page-header
  .select-for-news
  .ant-radio-group.ant-radio-group-solid
  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(13, 34, 86, 0.08);

  outline: none;
  color: #17152e;
}
.page-header
  .select-for-news
  .ant-radio-group.ant-radio-group-solid
  .ant-radio-button-wrapper::before {
  display: none;
}

.popover-class .ant-popover-content .ant-popover-inner {
  background: #ffffff;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 8px;
  width: 375px;
  height: 740px;
  overflow-y: auto;
}
.popover-class .ant-popover-content .ant-popover-arrow {
  display: none;
}
.popover-class .ant-popover-content .ant-popover-inner::-webkit-scrollbar {
  display: none;
}
.popover-class .ant-popover-content .ant-popover-inner .ant-popover-title {
  color: #17152e;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  padding-top: 10px;
  padding-bottom: 12px;
  border: none;
}
.popover-class .ant-popover-content .ant-popover-inner .ant-card {
  border: none;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}
.popover-class
  .ant-popover-content
  .ant-popover-inner
  .ant-card
  .ant-card-body {
  padding: 24px 16px 10px;
}

.popover-class
  .ant-popover-content
  .ant-popover-inner
  .for-card-message
  .ant-card-body {
  display: flex;
  width: 100%;
  padding: 12px;
}
.popover-class
  .ant-popover-content
  .ant-popover-inner
  .for-card-message
  .ant-card-body
  .ant-card-meta-detail {
  margin: 0;
}
.popover-class
  .ant-popover-content
  .ant-popover-inner
  .for-card-message
  .ant-card-body
  .ant-card-meta {
  display: flex;
  align-items: center;
}
.popover-class
  .ant-popover-content
  .ant-popover-inner
  .ant-card
  .ant-card-body
  .ant-card-meta-detail
  .ant-card-meta-title {
  white-space: pre-wrap !important;
}
.popover-class
  .ant-popover-content
  .ant-popover-inner
  .ant-card
  .ant-card-body
  .ant-card-meta-detail
  .ant-card-meta-title
  a {
  color: #17152e;
  font-weight: 600;
  font-size: 17px;
  line-height: 160%;
}
.popover-class
  .ant-popover-content
  .ant-popover-inner
  .ant-card
  .ant-card-body
  .ant-card-meta-detail
  .ant-card-meta-description
  span {
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  color: #5b638b;
}
