.h-100vh {
  height: 100vh;
}

.sun-editor-editable {
  padding: 0;
}

.d-flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
}

.text-center {
  text-align: center !important;
}
.bg-white {
  background-color: #fff;
}

.shadowed {
  box-shadow: 0px 2px 15px rgba(13, 34, 86, 0.05);
}

.ant-tabs {
  font-size: 1rem !important;
  line-height: 1.8 !important;
}
.ant-tabs-tabpane p {
  color: #000;
}

.video-react-control-bar .ant-select-selector {
  border: none !important;
  color: #fff !important;
  background-color: transparent !important;
  outline: none;
}
.video-react-control-bar .ant-select-arrow {
  color: #fff;
}

.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-24 {
  margin-top: 1.5rem;
}
.mt-32 {
  margin-top: 2rem;
}
.mt-48 {
  margin-top: 3rem;
}
.m-24 {
  margin: 24px 0;
}




.ql-container.ql-snow {
  border: none !important;
  font-size: 1rem;
}

.ql-editor {
  padding: 0 !important;
  line-height: 1.55;
}
