.h-100vh {
  height: 100vh;
}

.d-flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
}

.text-center {
  text-align: center !important;
}
.bg-white {
  background-color: #fff;
}

.shadowed {
  box-shadow: 0px 2px 15px rgba(13, 34, 86, 0.05);
}

.ant-tabs {
  font-size: 1rem !important;
  line-height: 1.8 !important;
}
.ant-tabs-tabpane p {
  color: #000;
}

.video-react-control-bar .ant-select-selector {
  border: none !important;
  color: #fff !important;
  background-color: transparent !important;
  outline: none;
}
.video-react-control-bar .ant-select-arrow {
  color: #fff;
}
