.h-100vh {
  height: 100vh;
}

.d-flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
}

.text-center {
  text-align: center !important;
}
.bg-white {
  background-color: #fff;
}

.ant-tabs {
  font-size: 1rem !important;
  line-height: 1.8 !important;
}
.ant-tabs-tabpane p {
  color: #000;
}
